<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link rel = "shortcut icon" href ="{{url_for('static',filename='favicon.ico')}}">

  <title>Rishit Sethi</title>  

<link href="./static/main.97292821.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      </div>
    </div>
  </nav>
</header>



<!-- Add your site or app content here -->
<div class="background-image-container white-text-container" style="background-image: url('./static/assets/images/img-05.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <span id ="typed-string">
                <h1>Rishit's Portfolio</h1>
                <p class="">The essence of effective portfolio construction is the use of a large number of poorly correlated assets.</p>
                <a href="#contact-section-container" class="btn btn-primary btn-lg anchor-link" title="">Get in touch</a>
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">ABOUT ME</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa sharp fa-solid fa-code fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Coding</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Guitar</h3>
                <p>Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-camera fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Phasellus</h3>
                <p> Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('./static/assets/images/img-01.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">
                <p>PYTHON</p>
            </div>  
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>Dui augue orci</h2>
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit. Nam eu laoreet velit. Vivamus laoreet, sem nec scelerisque
                    elementum, dui augue aliquet urna, ut bibendum purus erat ut massa. Mauris diam orci, feugiat a turpis
                    et, congue accumsan risus. Nulla malesuada leo sodales, auctor augue quis, condimentum lacus. Phasellus
                    sed sollicitudin quam, a bibendum urna.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus «
                    ut lacus » tellus. In pretium lobortis blandit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>

            </div>
        </div>
    </div>
</div>



<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">My Best Projects</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/img-02.jpg" alt="" class="img-responsive">
                <h3 class="text-center">The Hangman</h3>
                <p>Hangman is a guessing game for two or more players.The word is randomly chosen from 5000 words.
                <a href="https://github.com/RishitSethi9099/hangman"><b>THE HANGMAN</b></a>

                </p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/img-03.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Discord Bot</h3>
                <p>Custom Discord Bot which allows many users to play games ,ping them ,get jokes as well as inpiring Quotes
                    <a href="https://github.com/RishitSethi9099/discord-bot"><b>Discord-Bot</b></a>
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="./static/assets/images/img-04.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Password-Manager</h3>
                <p>It saves all your passwords of every service/account you wish to enter in an organised manner
                <a href="https://github.com/RishitSethi9099/password-manager.py"><b>Password-Manger</b></a></p>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class='container-fluid'>
        <div class="row map-container">
            <div id="map"></div>
            <div class="col-xs-10 col-md-4 contact-block-container reveal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Phone</h3>
                        <p>+91 9540000484</p>

                        <h3>E-mail</h3>
                        <p>rishitsethi53@gmail.com</p>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3>Address</h3>
                        <p>C8-1103/Puri Pranayam,Fridabad,Haryana</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">Get in touch</h2>
                </div>
                <form action="submit_form" method="post" class="reveal-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="name" type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="email" type="email"  class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea name="message" class="form-control" rows="3" placeholder="Enter your message"></textarea>
                    </div>

                    <div class="form-group">
                            <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option1">I am a human
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Send message</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

<footer class="footer-container white-text-container">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>Studied in Delhi public school,have done a python course</p>
                </div>

                <div class="col-md-4">
                    <h4>Do you like ? Share this !</h4>
                    <div>
                        <p>
                            <a href="https://twitter.com/RishitSethi53" class="fa-icon" title="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                            <a href="https://www.facebook.com/profile.php?id=61557277962456" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/rishit-sethi-b2050b2a6/" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.instagram.com/rishit.sethi/" class="fa-icon" title="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.google.co.in/search?client=safari&sca_esv=561317309&hl=en-in&q=Rishit+Sethi&ludocid=12273642869402396450&lsig=AB86z5UmAA8S1mOG4DP4luFYASJp&kgs=b3bb2bfd31ec8ff2&shndl=-1&shem=lbse,lsp&source=sh/x/kp/local/m1/3" class="fa-icon" title="">
                                <i class="fa fa-google" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <p><small>© Untitled | Website created by Rishit Sethi</p>
                    </div>

                </div>

                <div class="col-md-4">
                        
                    <h4>Subscribe to Rishit Sethi</h4>
                    <a href="https://www.youtube.com/channel/UCM2WgU0y44GSBlxfcyysHrg" class="fa-icon" title="">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                        </div>
                        <p>Have Been playing guitar for 7 years now and have a youtube channel where i upload my covers</p>
                        </div>
                        
                        
                    </div>
                </div>
        </div>
    </div>
</footer>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
});
</script>


<script type="text/javascript" src="./static/main.faaf51f9.js"></script>